# This is a supplementary requirements file created in a fork.
# The requirements here may not be sufficient to run the detection proposed for this Model.

loguru~=0.5.3
Pillow <= 6.2.2
pytesseract <= 0.2.2
shapely~=1.8.3

numpy==1.23.3

Cython
ipython==7.31.0
traitlets==5.1.1
click==7.1.2
pycocotools==2.0

mmdet==2.3.0

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.5.1+cpu
torchvision==0.6.1+cpu
-f https://download.openmmlab.com/mmcv/dist/index.html
mmcv-full==1.0.5+torch1.5.0+cpu
opencv-python~=4.5.5.64
lxml~=4.7.1
pdf2image~=1.16.0
typing~=3.7.4.3
pymongo~=4.0.1
scipy
matplotlib~=3.5.1
streamlit~=1.4.0


# docrecjson~=0.1
-e shared-file-format/python
